* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('https://t3.ftcdn.net/jpg/06/64/84/64/240_F_664846412_0BrCHC95ofsP8BNAtbfNy0p9OBPTY2TB.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: white; */
}

img {
    width: 20%;
    position: relative;
    transition:all 0.6s linear;
}
