* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.download-icon {
    width: 30rem;
    height: 2.5rem;
    background-color: gainsboro;
    border-radius: 1rem;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: lightgreen;
}

.download-text {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

button {
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
    background-color: blue;
    color: white;
    font-weight: 600;
}

button:active {
    scale: 0.9;
    transition: 0.2s;
}
